<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <ul>    
                <li>
                    <a class="active" href="/home">
                        <img src="assets/logo.png" alt="Logo">
                        Naam
                    </a>
                </li>
                <li>
                    <input type="search" id="site-search" name="q" placeholder="Event, artist, date etc." maxlength="30" aria-label="Search through site content">
                    <button>Search</button>
                </li>
                    <li><a href="/all-events">All Events</a></li>
                    <li><a href="/about-us">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/form">Sign In</a></li>
                <li class="nav-profile"><a href="profile">Profile
                    <script>console.log('Profile Image in template:', '<%= profileImage %>');</script>
                    <% if (profileImage.startsWith('data:image')) { %>
                      <img src="<%= profileImage %>" alt="Profile picture">
                    <% } else { %>
                      <img src="assets/profile-default.jpg" alt="Default Profile picture">
                    <% } %>
                  </a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="profile">
            <div class="profile_userInfo">
                <% if (profileImage) { %>
                    <img src="<%= profileImage %>" alt="Profile Image">
                <% } else { %>
                    <img src="/assets/profile-default.jpg" alt="Default Profile Image">
                <% } %>
                <form action="/upload-profile-picture" method="POST" enctype="multipart/form-data">
                    <input type="file" name="profileImage">
                    <input type="submit" value="Upload Photo">
                </form>
                <form action="/delete-profile-picture" method="POST" onsubmit="confirmDeletion(event)">
                    <input type="submit" value="Delete Photo">
                </form>
                <p>Welcome <%= name %> <%= surname %></p>
                <p>Email: <%= email %></p>
            </div>
            
        </div>
        <form action="/update" method="GET">
            <input type="submit" value="Update Profile">
        </form>
    <div class="favorite-events">
        <% if (favoriteEvents && favoriteEvents.length > 0) { %>
            <h2>Favorite Events</h2>
            <ul>
                <% favoriteEvents.forEach(event => { %>
                    <li>
                        <article class="event">
                            <img src="<%= event.images[0].url %>" alt="Event photo">
                            <h3><%= event.name %></h3>
                            <p><%= event.info %></p>
                            <p><%= event.dates.start.dateTime %></p>

                            <form action="/unlike" method="POST" class="unlike-form">
                                <input type="hidden" name="eventId" value="<%= event.id %>">
                                <button type="submit" class="remove-favorite-button">Remove from favorites</button>
                            </form>
                        </article>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No favorite events found.</p>
        <% } %>
    </div>
    
        <form action="/signout" method="GET">
            <input type="submit" value="Sign out">
        </form>
    </main>

    <footer>
        <section>
            <div>
                <h2>Find your event</h2>
                <a href="all-events" class="cta-button"><i class="fa-solid fa-magnifying-glass"></i>Search Event</a>
            </div>

            <ul>
                <li><h6>Navigation</h6></li>
                <li><a href="home">Home</a></li>
                <li><a href="all-events">All Events</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>

            <div>
                <div>
                    <h6>Contact</h6>
                    <a href="mailto:ticket@ticketplus.com">ticket@ticketplus.com</a>
                </div>

                <div>
                    <h6>Based in</h6>
                    <p>Amsterdam, <br> The Netherlands</p>
                </div>

                <address>
                    <ul>
                        <li><a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </address>
            </div>
        </section>
        
        <span>©2024 by Ticket+</span>
    </footer>

    <script src="client.js"></script>

</body>
</html>