<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body class="profilePage">
    <header>
        <nav class="container">

            <ul>

                <li class="nav-home">
                    <a class="button" href="home" data-type="nav home">
                        <img src="assets/logo-ticket+2.png" alt="Logo">
                    </a>
                </li>
                <li class="nav-search-bar">
                    <form action="your-action-url" method="get">
                    <!-- de action moet worden aangepast -->

                        <input type="search" id="site-search" name="q" placeholder="Search: event, artist, date etc." maxlength="20" aria-label="Search through site content">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>                    
                </li>

            </ul>
            <section class="nav-block">
            <ul>
                <li class="nav-all-events"><a href="all-events">All Events</a></li>
                <li class="nav-about-us"><a href="about-us">About Us</a></li>
            </ul>
            <ul>
                <% if (!isLoggedIn) { %>
                  <li><a href="form" class="button" data-type="nav">Sign In
                    <i class="fa-solid fa-arrow-right"></i>
                  </a></li>
                <% } %>
              
                <% if (isLoggedIn) { %>
                    <li><a href="profile" class="button" data-type="nav">Profile
                        <% if (profileImage.startsWith('data:image')) { %>
                          <img src="<%= profileImage %>" alt="Profile picture">
                        <% } else { %>
                          <img src="assets/profile-default.jpg" alt="Default Profile picture">
                        <% } %>
                      </a></li>
                <% } %>
              </ul>
            </section>
            <button class="hamburger" id="hamburger">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </nav> 

    </header>

    <main class="container">
        <div class="profile">
            <div class="welcomeProfile">
                <% if (profileImage) { %>

                    <img src="<%= profileImage %>" alt="Profile Image">

                    <% } else { %>
                        <img src="/assets/profile-default.jpg" alt="Default Profile Image">
                        <% } %>
                            <div class="welcome-imageChange">
                                <h2>Welcome <%= name %>!
                                </h2>
                                <div class="imageChanger">
                                    <button class="changeImage button" onclick="toggleImageChanger()">Change Image</button>
                                    <div class="imageChangerContent" style="display: none;">
                                        <form action="/upload-profile-picture" method="POST"
                                            enctype="multipart/form-data">
                                            <input type="file" name="profileImage">
                                            <input type="submit" value="Upload Photo">
                                        </form>
                                        <form action="/delete-profile-picture" method="POST" onsubmit="confirmDeletion(event)">
                                            <input type="submit" value="Delete Photo">
                                        </form>
                                        <button class="button" onclick="toggleImageChanger()">X</button>
                                    </div>
                                </div>
                            </div>
            </div>

            <div class="profile-navigation">
                <button id="profileButton" onclick="showProfile()">Profile</button>
                <button id="favoritesButton" onclick="showFavorites()">Favorites</button>
            </div>

            <div class="profile_userInfo">
                <div class="infoDisplay">
                    <p>First name:</p>
                    <p>
                        <%= name %>
                    </p>

                </div>
                <div class="infoDisplay">
                    <p> Last name: </p>
                    <p>
                        <%= surname %>
                    </p>
                </div>
                <div class="infoDisplay">
                    <p>Email:</p>
                    <p>
                        <%= email %>
                    </p>
                </div>
                <form action="/update" method="GET">
                    <input type="submit" class="button" value="Change Profile">
                </form>
            </div>
        </div>

        <div class="favorite-events">
            <% if (favoriteEvents && favoriteEvents.length> 0) { %>

                <ul class="card-container">
                    <% favoriteEvents.forEach(event=> { %>
                        <li>
                            <article class="event-template">
                                <img src="<%= event.images[0].url %>" alt="Event photo" data-src="event-img">
                                <a href="<%= event.url %>">
                                    <h5>
                                        <%= event.name %>
                                    </h5>
                                    <p>
                                        <%= event.info %>
                                    </p>
                                    <p>
                                        <%= event.dates.start.dateTime %>
                                    </p>
                                </a>
                            </article>
                            <form action="/unlike" method="POST" class="unlike-form">
                                <input type="hidden" name="eventId" value="<%= event.id %>">
                                <button type="submit" class="button">Remove</button>
                            </form>

                        </li>
                        <% }); %>
                </ul>
                <% } else { %>
                    <p class="no-favourites">No favorite events found.</p>
                <% } %>
        </div>
        <div class="profile__buttons-container">
            <form class="signOut" action="/signout" method="GET">
                <input type="submit" class="button" value="Sign out">
            </form>

            <form class="deleteProfile" action="/delete_profile" method="POST">
                <input type="submit" class="button" value="Delete Account">
            </form>
        </div>
    </main>

    <footer>
        <section>
            <div>
                <h2>Find your event</h2>
                <a href="all-events" class="cta-button"><i class="fa-solid fa-magnifying-glass"></i>Search Event</a>
            </div>
            <ul>
                <li>
                    <h6>Navigation</h6>
                </li>
                <li><a href="home">Home</a></li>
                <li><a href="all-events">All Events</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>
            <div>
                <div>
                    <h6>Contact</h6>
                    <a href="mailto:ticket@ticketplus.com">ticket@ticketplus.com</a>
                </div>
                <div>
                    <h6>Based in</h6>
                    <p>Amsterdam, <br> The Netherlands</p>
                </div>
                <address>
                    <ul>
                        <li><a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li><a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </address>
            </div>
        </section>
        <span>©2024 by Ticket+</span>
    </footer>

    <script src="client.js"></script>
    <!-- <script src="profile.js"></script> -->

    <script>
        function showProfile() {
            document.querySelector('.profile_userInfo').style.display = 'block';
            document.querySelector('.favorite-events').style.display = 'none';
            document.getElementById('profileButton').classList.add('active');
            document.getElementById('favoritesButton').classList.remove('active');
        }

        function showFavorites() {
            document.querySelector('.profile_userInfo').style.display = 'none';
            document.querySelector('.favorite-events').style.display = 'block';
            document.getElementById('profileButton').classList.remove('active');
            document.getElementById('favoritesButton').classList.add('active');
        }

        function toggleImageChanger() {
            const changerContent = document.querySelector('.imageChangerContent');
            const changeButton = document.querySelector('.changeImage');
            if (changerContent.style.display === 'none') {
                changerContent.style.display = 'block';
                changeButton.style.display = 'none';
            } else {
                changerContent.style.display = 'none';
                changeButton.style.display = 'block';
            }
        }

        // Default to showing the profile on page load
        showProfile();
    </script>
</body>

</html>